.counter-section {
    background: rgb(23, 23, 23);
    min-height: 961px;
    height: 100%;
    padding-top: 139px;
    padding-bottom: 139px;

    @media (max-width:1100px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container {
        /* max-width: 1185px; */
        flex-direction: column;
    }
}