:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

[aria-controls]:focus {
  outline: none;
  background-color: transparent !important;
}

[aria-controls][aria-expanded="true"] {
  outline: none;
  background-color: transparent !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.desktop {
  display: block;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.mobile {
  display: none !important;

  @media (max-width: 768px) {
    display: block !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.btn {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Segoe UI;
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;

  padding: 7px 30px 7px 30px;
  max-width: max-content;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  border-radius: 24px;

  @media (max-width: 768px) {
    font-size: 15px;
    padding: 7px 15px;
  }

  &.btn-primary {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 183, 0);

    &:hover {
      background: rgb(255, 207, 37);
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1320px) {
    max-width: 100vw;
  }
}