.header {
    background-color: #171717;
    color: #fff;
    padding: 10px 0;
    min-height: 62px;
    border-bottom: 1px solid rgb(113, 81, 0);
    position: relative;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav ul:not(.submenu) {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-poppins);

    &:hover {
        color: #FFB700;
    }

    &.active {
        color: #FFB700 !important;
    }

    .arrow {
        display: none;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 999px;
    width: 100%;

    .nav__top {
        /* display: none; */
    }

    .nav__bottom {
        /* margin-left: 149px; */

        .link {
            color: #FFB700;
            font-family: Segoe UI;
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;

            &:hover {
                color: #fff;
            }
        }
    }
}

.navMobile {
    display: none;

    @media (max-width: 991px) {
        display: block;

        .contacts__mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            list-style: none;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;

                color: #fff;
                font-family: Segoe UI;
                font-size: 17px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0%;
                text-align: left;
                text-transform: uppercase;
            }
        }
    }

    @media (max-width: 550px) {
        .contacts__mobile {
            .linkWrapper + .linkWrapper {
                display: none;
            }
        }
    }

    @media (max-width: 360px) {
        .contacts__mobile {
            .link {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 991px) {
    .nav {
        display: none;
        position: absolute;
        top: 63px;
        left: 0;
        width: calc(100% - 30px);
        transform: translateX(15px);
        max-width: 991px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .navOpen {
        display: block;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),0px 4px 8px 3px rgba(0, 0, 0, 0.15);
        background: #171717;

        li.submenu, li.hasSubmenu {
            padding-left: 24px;
            padding-right: 24px;
            width: 100%;

            .link {
                text-align: right !important;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 7px;
                width: 100%;

                .arrow {
                    display: block;
                }
            }
        }

        .nav__bottom {
            border-top: 1px solid rgb(113, 81, 0);
            /* margin-top: 40px !important;
            padding-top: 40px !important; */
            margin-top: 30px !important;
            padding-top: 30px !important;
        }
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav li {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        margin: 10px 0;
    }

    .nav li .link {
        width: 100%;
        display: inline-block;
        text-align: right !important;
    }

    .hasSubmenu > .link {
        font-family: var(--font-poppins);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 6%;
        text-align: left;
        text-transform: uppercase;
    }

    .hasLink > .link {
        color: #fff;
        font-family: var(--font-poppins);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 6%;
        text-transform: uppercase;
    }
}

.hasSubmenu {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    z-index: 100;
    width: 100%;
    min-width: 200px;
    max-width: 240px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    margin-top: 25px;

    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    background: rgb(23, 23, 23);
    list-style: none;

    .linkWrapper {
        margin-left: 0;

        + .linkWrapper {
            margin-top: 10px;
        }

        .link {
            /* font-family: Segoe UI; */
            font-family: var(--font-poppins);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -26px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 30px;

        @media (max-width: 991px) {
            display: none;
        }
    }
}

.hasSubmenu:hover .submenu,
.submenuActive .submenu {
    display: block;

    @media (max-width: 991px) {
        display: none;

        .linkWrapper .link {
            font-family: Segoe UI;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: right;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
}

@media (max-width: 991px) {
    .submenu {
        position: relative;
        box-shadow: none;
        /* padding-top: 20px; */
        padding-top: 0;
        /* padding-bottom: 20px; */
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        right: 0;
        max-width: 100%;

        li.linkWrapper {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .submenuActive {
        .submenu {
            display: block !important;
        }

        .arrow {
            transform: rotate(180deg);
        }
    }
}
