/* components/DynamicPage.module.css */
.container {
    /* max-width: 990px;
    flex-direction: column;
    align-items: flex-start; */
}

.pageContainer {
    max-width: 990px;
}

.pageSection {
    color: #000000;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 32px;
    padding-bottom: 72px;

    @media (max-width: 768px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.sectionTitle {
    color: rgb(0, 0, 0);
    font-family: var(--font-poppins);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
        margin-bottom: 20px;
    }
}

.pageSection:nth-child(1) {
    background: linear-gradient(160.71deg, #222222 23.129%,#373737 75.847%);
    padding-top: 72px;
    padding-bottom: 72px;
    padding-bottom: 194px;
    min-height: max-content;
    height: 100%;

    @media (max-width: 768px) {
        padding-top: 30px;
    }

    .sectionTitle {
        color: #ffffff;
        font-size: 32px;
        margin-bottom: 72px;


        @media (max-width: 768px) {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }

    .htmlContent p {
        color: #fff;
    }
}

.textContent {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

.textContent p {
    margin-bottom: 15px;
}

.htmlContent img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),0px 4px 8px 3px rgba(0, 0, 0, 0.15);

    @media (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.htmlContent h1, .htmlContent h2, .htmlContent h3, .htmlContent h4, .htmlContent h5, .htmlContent h6 {
    color: #000000;
    font-family: var(--font-poppins);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.htmlContent p {
    color: #000000;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }
}

.htmlContent b {
    color: #000000;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;

    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.htmlContent span {
    color: #000000;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.htmlContent ul, .htmlContent li {
    list-style: none;
}

.htmlContent li {
    margin-bottom: 5px;
}

.htmlContent li a {
    padding-top: 8px;
    padding-bottom: 8px;

    color: #000000;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    @media (max-width: 768px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }
}

.htmlContent figcaption {
    display: none;
}

.sloganSection {
    background: linear-gradient(160.71deg, #222222 31.821%,#373737 66.771%);
    padding-top: 17px;
    padding-bottom: 17px;

    color: #fffced;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.sloganContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sloganButton {
    display: flex;
    justify-content: center;
    padding: 9px 32px;
    text-decoration: none;
    transition: all 0.3s ease;

    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #ffb700;

    color: #000000;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 15px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0%;
        padding: 7px 30px;
    }
}

.sloganButton img {
    margin-right: 15px;
    filter: invert(1);
}

.sloganButton:hover {
    background: #ffcf25;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main > .pageSection:nth-child(1) + .sloganSection {
    background: transparent;
    position: relative;
    top: -150px;

    @media (max-width: 768px) {
        top: -180px;
    }
}

.main > .pageSection:nth-child(3) {
    margin-top: -84px;

    @media (max-width: 600px) {
        margin-top: -120px;
    }

    @media (max-width: 399px) {
        margin-top: -140px;
    }
}