.button {
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    max-width: max-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 30px 7px 30px;

    color: #000000;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: 768px) {
        height: 46px;
        font-size: 15px;
    }
}

.yellow {
    background: #ffb700;
    color: rgb(0, 0, 0);
}

.yellow:hover {
    background: #FFCF25;
}