/* app/blog/Blog.module.css */
.container {
    gap: 16px;
    max-width: 878px;
    width: 100%;
}

.main {
    background: var(--foreground);
}

.blogTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.postsList {
    display: grid;
    gap: 40px;

    @media (max-width: 575px) {
        gap: 30px;
    }
}

.noPosts {
    text-align: center;
    padding: 40px;
    color: #f00;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 72px;

    @media (max-width: 575px) {
        margin-bottom: 30px;
    }
}